body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #333;
}

.card {
    margin-top: 20px;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

footer {
    background-color: #343a40;
}
